<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
     <!-- Configuration Based Spring Implementation -->
		<context:component-scan base-package="app"></context:component-scan>
		<beans>
			<bean id="chromeOption" class="org.openqa.selenium.chrome.ChromeOptions"/>
			<bean id="driver" class="org.openqa.selenium.chrome.ChromeDriver">
				<constructor-arg ref="chromeOption"></constructor-arg>
			</bean>
			<bean id="excelUtils" class="utils.ExcelUtils"></bean>
			<bean id="homePage" class="pages.HomePage"></bean>
		</beans>
</beans>